* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.header {
    margin-bottom: 85px;
    border: 5px solid rgb(210, 14, 112);
    font-family: baskerville, serif; 
}

#timer {
    width: 100px;
    height: 50px;
    background-color: #7d4310; 
    color: #fff; 
    font-size: 24px; 
    text-align: center; 
    line-height: 50px; 
    border-radius: 10px; 
    margin: 20px auto; 
  }
  
  #restart {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: rgb(244, 191, 218);
    box-shadow: inset 0 0 0 2px #7a007a;
    background-color: transparent;
    height: 48px;
}

#restart:hover { 
    color: #fff;
    background-color: #f0bcf0;
}

  

.header-title {
    font-size: 23px;
    color: #fff;
}

img {
    width: 125px;
    height: 125px;
}


/* STYLE */

.memory-game {
    width: 400px; /* 1.1 aqui se supone que deberia de controlar el overall size de la imagen*/
    height: 400px; /* 1.2 */
    display: flex; /* 1.3 junto con esta otra parte de codigo*/
    flex-wrap: wrap;
    border: 10px solid limegreen;
    perspective: 1000px;
}

.memory-card {
    width: 125px;
    height: 125px;
    border: 5px solid rgb(210, 14, 112);
    transform: scale(1); /* reactive click */
    transform-style: preserve-3d;
    transition: transform .3s;
}


/* GESTURES */

.memory-card:active {    /* reactive click */

    transform: scale(0.97);
    transition: transform .2s;
}


.front-face,
.back-face {
    position: absolute;
    width: 100%; /* to keep them aligned on flip */
    height: 100%; /* to keep them aligned on flip */
    border: 2px solid rgb(21, 8, 202);
    backface-visibility: hidden;
}



.memory-card.flip {
    transform: rotateY(180deg);
  }


  .front-face {
    transform: rotateY(180deg);
  } /* to show the img face * /


  